    #maincontent {
        word-wrap: break-word;
    }

    .viewer-grid {
        display: flex;
    }

    #main-menu {
        margin-right: 16px;
    }

    .viewer-grid > #main-menu + div {
        width: calc(100% - 276px);
    }

    .grid.mix-statuses {
        display: flex;
        height: 50px;
    }

    .grid.mix-statuses > div {
        width: 22% !important;
        margin-right: 2% !important;
    }

    .grid.mix-statuses .wifi-icon {
        flex-grow: 1;
    }

    .grid.mix-statuses > div:first-child {
        width: 20% !important;
        margin-right: 5% !important;
    }

    .grid.mix-statuses > div#wifi-2 {
        margin-right: 8% !important;
    }

    .grid.mix-statuses > div:last-child {
        float: left;
        margin-right: 0 !important;
        text-align: right;
        width: 20% !important;
    }

    .grid.wired-wireless-statuses > .cell-container {
        padding-bottom: 12px;
    }

    .grid.wired-wireless-statuses > .cell-container#wired {
        width: 24.9562171629% !important;
        margin-right: 1.4886164623% !important;
    }

    .grid.wired-wireless-statuses > .cell-container#wireless {
        width: 47.1103327496% !important;
        margin-right: 1.4886164623% !important;
    }

    .grid.wired-wireless-statuses > .cell-container#iot-connections {
        width: 24.9562171629% !important;
    }

    .grid.upstream-system-statuses #upstream {
        width: 24.9562171629% !important;
        margin-right: 1.4886164623% !important;
    }

    .grid.upstream-system-statuses #wifi {
        width: 30% !important;
        margin-right: 1.4886164623% !important;
    }

    .grid.upstream-system-statuses #system {
        width: 42.0665499125% !important;
    }

    .settings-form-control {
        float: right;
    }

    .settings-form-control button:last-child {
        margin-left: 12px;
    }

    .field-input-inline::after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    .field-input-inline__leading-label {
        float: left;
        width: 70px;
        margin-right: 15px;
    }

    .field-input-inline__trailing-label {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        vertical-align: top;
    }

    .field-input-inline .mdc-text-field-helper-line {
        padding-left: 85px;
    }

    #a1 .mdc-text-field--outlined:not(.mdc-text-field--no-label) .mdc-text-field__input {
        padding-top: 18px !important;
    }

    #a1 .grid.static-leases-data {
        padding-top: 0;
        padding-bottom: 0;
    }

    #perenio .grid.static-leases-data {
        display: flex;
        align-items: center;
        min-height: 48px;
        padding: 0;
    }

    #perenio .grid.static-leases-colmns {
        display: flex;
        align-items: center;
    }

    .grid.online-connections-head,
    .grid.wifi-mode-tabs {
        display: flex;
    }

    .wired-wireless-statuses .cell-container .grid {
        display: flex;
        justify-content: space-around;
    }

    .wired-wireless-statuses .cell-container .grid > div {
        margin-top: 20px;
        width: 33%;
    }

    #wired .grid,
    #wireless .grid {
        margin: 0;
    }

    #wired .grid .icon-holder,
    #wireless .grid .icon-holder {
        margin: 0 auto;
    }

    #wireless .grid .icon-holder {
        background-size: auto;
    }

    .grid.upstream-system-statuses,
    .grid.wired-wireless-statuses {
        display: flex;
    }

    .grid.upstream-system-statuses > div {
        width: 375px;
        margin-right: 16px;
    }

    .cell-container.system {
        margin-right: 0 !important;
    }

    .upstream .grid.key-value-table,
    .wifi-nets .grid.wifi-mode-data,
    .system .grid.key-value-table {
        display: flex;
        flex-wrap: wrap;
    }

    .upstream .grid.key-value-table .dtitle,
    .system .grid.key-value-table .dtitle {
        width: calc(40% - 10px);
    }

    .upstream .grid.key-value-table .dvalue,
    .system .grid.key-value-table .dvalue {
        width: 60%;
    }

    .wifi-nets .grid.wifi-mode-data .dtitle {
        width: 52%;
        margin-right: 0;
    }

    .wifi-nets .grid.wifi-mode-data .dvalue {
        width: 48%;
    }

    .grid.wifi-mode-toggler {
        display: flex;
    }

    .grid.wifi-mode-toggler .dvalue {
        float: left;
        width: 84%;
    }

    .grid.wifi-mode-data {
        display: flex;
        flex-wrap: wrap;
    }

    .grid.wifi-mode-data > div,
    .key-value-table > div {
        margin-bottom: 4px;
    }

    .grid.wifi-mode-tabs {
        justify-content: center;
    }

    .grid.wifi-mode-tabs > div {
        width: 50px;
        margin: 0 3px;
        float: left;
        white-space: nowrap;
    }

    .grid.wifi-mode-tabs > div:first-child {
        margin-left: 0;
    }

    .grid.wifi-mode-tabs > div:last-child {
        margin-right: 0;
    }

    .grid.iot-connections-table {
        flex-wrap: wrap;
        margin-top: 0 !important;
    }

    .grid.iot-connections-table .item-name {
        width: calc(100% - 50px) !important;
        margin-top: 11px !important;
        line-height: 15px !important;
    }

    .grid.iot-connections-table .item-value {
        float: right !important;
        width: 38px !important;
        margin-top: 11px !important;
    }

    .grid.online-connections-head {
        justify-content: space-between;
    }

    .grid.online-connections-head > div:first-child {
        margin-right: auto;
    }

    .grid.static-leases-colmns > div,
    .grid.static-leases-data > div {
        float: left;
        width: 20.75%;
    }

    #perenio .grid.static-leases-colmns > div,
    #perenio .static-leases-data > div {
        padding: 3px 0;
    }

    .grid.static-leases-colmns > div:not(:last-child),
    .grid.static-leases-data > div:not(:last-child) {
        margin-right: 1.25%;
    }

    /*Need to override .dtitle style from main.css*/
    .grid.static-leases-colmns > div:last-child,
    .grid.static-leases-data > div:last-child {
        margin-right: 0;
    }

    .grid.static-leases-colmns > div:not(:first-child),
    .grid.static-leases-data > div:not(:first-child) {
        text-align: center;
    }

    .grid.static-leases-colmns > div:first-child,
    .grid.static-leases-data > div:first-child {
        width: 6.5%;
    }

    .grid.static-leases-colmns > div.status,
    .grid.static-leases-colmns > div.modify,
    .grid.static-leases-data > div.status,
    .grid.static-leases-data > div.modify {
        width: 12.5%;
        margin-right: 0;
    }

    .grid.static-leases-data > div:not(.status):not(.modify) {
        padding-top: 17px;
        padding-bottom: 16px;
    }

    .grid.static-leases-data > div.status {
        padding-top: 15px;
    }

    .grid.static-leases-data > div.modify {
        padding-top: 7px;
    }

    .dvalue.conn-filter-tab {
        float: right !important;
        margin-left: 40px;
    }

    #firmware-version {
        margin-right: 0 !important;
    }

    .grid.online-connections-colmns,
    .grid.online-connections-data {
        display: flex;
    }

    .grid.online-connections-colmns .dtitle,
    .grid.online-connections-data .dvalue {
        display: flex;
        width: 25% !important;
        margin-bottom: 12px;
    }

    .grid.online-connections-colmns .dtitle:first-child,
    .grid.online-connections-data .dvalue:first-child {
        justify-content: flex-start;
    }

    .grid.online-connections-colmns .dtitle:nth-child(n+4),
    .grid.online-connections-data .dvalue:nth-child(n+4) {
        justify-content: center;
    }

    .grid.online-connections-colmns .dtitle:last-child,
    .grid.online-connections-data .dvalue:last-child {
        margin-right: 0!important;
    }

    .grid.online-connections-data .dvalue.wifi-speed {
        flex-direction: column;
        align-items: center;
    }

    .grid.online-connections-colmns .dtitle {
        margin-right: 0;
    }

    footer .grid {
        position: relative;
        display: flex;
    }

    footer .grid > div {
        width: auto;
    }

    footer .grid > div:first-child {
        margin-right: auto;
    }

    footer .grid > div.app-link:nth-last-of-type(1) {
        width: 143px;
    }

    footer .grid > div.app-link:nth-last-of-type(2) {
        width: 145px;
    }

    .has-tabs .per-tabs > .per-tab::after {
        content: '';
        display: block;
    }

    .has-tabs .per-tabs .per-tab.active::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 7px;
        background: #fff;
        z-index: 10;
    }

    #perenio .grid.client-list-colmns {
        display: flex;
        align-items: center;
    }

    #perenio .grid.client-list-data {
        display: flex;
        align-items: center;
        min-height: 48px;
        padding: 0;
    }

    .grid.client-list-colmns > div,
    .grid.client-list-data > div {
        float: left;
        width: 25.3333333333%;
    }

    .grid.client-list-data > div {
        padding-top: 17px;
        padding-bottom: 16px;
    }

    #perenio .grid.client-list-data > div {
        padding: 3px 0;
    }

    .grid.client-list-colmns > div:not(:last-child),
    .grid.client-list-data > div:not(:last-child) {
        margin-right: 1.25%;
    }

    .grid.client-list-colmns > div:last-child,
    .grid.client-list-data > div:last-child {
        width: 12.5%;
        margin-right: 0;
    }

    .grid.client-list-colmns > div:not(:first-child),
    .grid.client-list-data > div:not(:first-child) {
        text-align: center;
    }

    .grid.client-list-colmns > div:first-child,
    .grid.client-list-data > div:first-child {
        width: 6.5%;
    }

    div[data-module="iot"] div[data-tmpl="device-info"] .mdc-button {
        width: auto;
        display: inline-block;
        color: #fff;
    }

    #a1 div[data-module="iot"] div[data-tmpl="device-info"] .mdc-button {
        background-color: #DA291C;
    }

    #perenio div[data-module="iot"] div[data-tmpl="device-info"] .mdc-button {
        background-color: #2196f3;
    }

@media all and (max-width: 560px) {
    #maincontent .cbi-value-field input[type="file"] {
        align-self: center;
        margin-bottom: 5px;
    }
    #cbi-mwan3-globals .cbi-value-field br {
        display: none;
    }
}

@media all and (max-width: 854px) {
    .dashboard .cell-container {
        min-width: 100%;
        height: auto!important;
    }
    .grid.online-connections-data .dvalue.wifi-speed {
        align-items: flex-start;
    }
}

@media all and (max-width: 1280px) {
    .viewer-grid > div {
        width: 100% !important;
    }
    #languages-mobile, #reboot-mobile, #logout-mobile, #firmware-version-mobile {
        display: block;
    }    .online-connections.cell-container {
        overflow: hidden !important;
    }
    .wired-wireless-statuses .cell-container#wired .grid, .wired-wireless-statuses .cell-container#wireless .grid {
        width: auto;
        display: flex;
        justify-content: center;
    }
    .wired-wireless-statuses .cell-container#wired .grid>div, .wired-wireless-statuses .cell-container#wireless .grid>div {
        width: 33%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .wired-wireless-statuses .cell-container#iot-connections .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .grid.iot-connections-table .item-name {
        font-size: 12px !important;
        width: 80% !important;
    }
    .grid.iot-connections-table .item-value {
        width: 20% !important;
        display: flex;
        justify-content: flex-end;
    }
    #perenio .grid.iot-connections-table {
        grid-gap: 10px;
    }
    #perenio .grid.key-value-table {
        line-height: 16px;
    }
    .grid.upstream-system-statuses>div {
        height: auto !important;
    }
    .grid.online-connections-head {
        display: flex;
        justify-content: space-between;
    }
    .grid.online-connections-head .dvalue {
        margin-right: 15px;
    }
    .grid.online-connections-head .dvalue:last-child {
        margin-right: 0;
    }
    .grid.online-connections-head .dvalue:first-child {
        margin-right: auto;
    }
    .grid.online-connections-data .dvalue {
        width: 100% !important;
    }
    .grid.online-connections-data .dvalue.wifi-signal {
        align-self: flex-start;
        max-width: 20px;
    }
    .grid.online-connections-colmns .dtitle {
        width: 100% !important;
        text-align: left !important;
    }
    .grid.online-connections-colmns .dtitle:nth-of-type(4) {
        justify-content: flex-start;
    }

}

@media all and (min-width: 855px) and (max-width: 1280px) {
    .grid.upstream-system-statuses #upstream {
        width: 30.9562171629% !important;
    }
    .grid.upstream-system-statuses #wifi {
        width: 34% !important;
    }
    .grid.upstream-system-statuses #system {
        width: 32.0665499125% !important;
    }
    #main-menu.mdc-drawer {
        width: 26.5%;
        margin-right: 16px;
    }
    .grid.online-connections-colmns .dtitle:nth-child(1),
    .grid.online-connections-data .dvalue:nth-child(1),
    .grid.online-connections-colmns .dtitle:nth-child(3),
    .grid.online-connections-data .dvalue:nth-child(3) {
        width: 23% !important;
    }

    .grid.online-connections-colmns .dtitle:nth-child(2),
    .grid.online-connections-data .dvalue:nth-child(2) {
        width: 20% !important;
    }

    .grid.online-connections-colmns .dtitle:nth-child(4),
    .grid.online-connections-data .dvalue:nth-child(4) {
        width: 14% !important;
        margin: auto;
    }

    .grid.online-connections-colmns .dtitle:nth-child(5),
    .grid.online-connections-data .dvalue:nth-child(5) {
        width: 20% !important;
    }

    .grid.online-connections-colmns .dtitle:nth-child(n+4),
    .grid.online-connections-data .dvalue:nth-child(n+4) {
        justify-content: center;
        align-items: center;
    }
}
