@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('/luci-static/resources/fonts/MaterialIcons/material-icons-outline.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/luci-static/resources/fonts/MaterialIcons/MaterialIcons-Regular.eot");
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("/luci-static/resources/fonts/MaterialIcons/material_icons.woff2") format('woff2'), url("/luci-static/resources/fonts/MaterialIcons/MaterialIcons-Regular.woff") format('woff'), url("/luci-static/resources/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    /* height: 100%; */
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none!important;
    outline: none!important;
}

.warning-status,
.error-status {
    font-style: italic;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.ifacebox .ifacebox-head {
    border-bottom: 1px solid #cccccc;
    padding: 4px;
    background: transparent;
    border-radius: 3px 3px 0 0px;
}

body {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 16px;
    background-attachment: fixed;
    background-color: transparent;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 52px;
    z-index: 10;
}

.grid {
    display: grid;
}

footer .grid {
    grid-template-columns: auto 143px 145px;
    max-width: 1440px;
    margin: 0 auto;
    line-height: 2;
    padding: 0 5px;
}

footer .app-link>a>div {
    background-size: 125px 37px;
    background-position: 18px 0px;
    height: 54px;
    width: auto!important;
}

h1,
h2,
h3,
legend,
h4,
h5,
h6 {
    font-weight: normal;
}

header .fill {
    height: 64px;
}

header h3 a,
header .brand {
    padding: 8px 20px 15px;
}

header div>ul a,
.nav a {
    padding: 23px 20px 21px;
}

pre {
    background: transparent;
    border: none;
}

.ifacebadge {
    text-shadow: none;
}

#maincontent {
    /* padding: 20px; */
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
}

.btn,
.cbi-button,
input,
textarea {
    box-shadow: none;
}

.table {
    font-size: 16px;
}

.ifacebadge {
    /* background-color: transparent; */
    background-image: none;
}

body[data-is-logged-in="false"] .viewer-grid {
    display: block;
    width: 1200px;
}


/** main menu **/

.container {
    max-width: 1440px;
}

.viewer-grid {
    max-width: 1440px;
    display: grid;
    column-gap: 16px;
    /* grid-template-columns: 268px auto; */
    margin: 0 auto;
    margin-bottom: 80px;
}

.viewer-grid > div {
    min-width: 0;
}

.mdc-drawer {
    background: transparent;
    border-right-style: none;
    z-index: 4;
    width: 260px;
}

.mdc-list-divider:first-child,
.mdc-list-divider:last-child {
    display: none;
}

.mdc-drawer .mdc-list-group__subheader,
.menu.mdc-list-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

.menu.mdc-list-item {
    color: rgba(255, 255, 255, 0.5)!important;
}

.mdc-drawer .mdc-list-group__subheader {
    color: rgba(255, 255, 255, 0.5);
}

.mdc-drawer .mdc-list-divider {
    margin: 0;
}

#main-menu div[data-category] {
    height: 0;
    overflow: hidden;
}

#main-menu div[data-category].opened {
    height: 100%;
}

#main-menu .mdc-list-group__subheader>i {
    position: absolute;
    top: 7px;
    right: 12px;
}

#main-menu .mdc-list-group__subheader>i.opened {
    transform: rotate(180deg);
}

#main-menu .menu.mdc-list-item {
    padding-left: 32px;
    transition: .5s;
}

#main-menu .mdc-list-divider {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

#main-menu .mdc-drawer .mdc-list-group__subheader::before {
    height: 12px;
}

#main-menu .menu-head {
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

#main-menu .mdc-drawer__content button {
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
    background-color: rgba(33, 150, 243, .2)!important;
}

#main-menu a[data-sub-category].active {
    color: #fff!important;
}


/** end main menu **/

#router-img {
    background-repeat: no-repeat;
    width: 230px;
    height: 162px;
    margin: 0 auto;
    margin-top: 32px;
}

.network-status-table {
    display: initial;
}

fieldset legend {
    color: inherit;
}

.mdc-drawer .mdc-list-group__subheader {
    position: relative;
}

#main-menu .mdc-drawer__content button {
    text-transform: inherit;
}

.btn:hover,
.cbi-button:hover,
input:focus,
textarea:focus {
    box-shadow: none;
}

#perenio-login .cbi-value .mdc-text-field {
    width: 336px;
}

#perenio-login .cbi-map {
    width: 337px;
    margin: 0 auto;
}

#perenio-login button {
    width: 336px;
    height: 48px;
}

.centered-header {
    text-align: center;
    margin: 12px 0;
}

.look-password {
    cursor: pointer!important;
    pointer-events: all!important;
    z-index: 100!important;
}

.cbi-rowstyle-2,
.tr.table-titles,
.tr.cbi-section-table-titles {
    background: transparent;
}

.ifacebox {
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

#cbi-perenio-account-register_device_model label {
    display: none;
}

#xhr_poll_status {
    position: relative;
    top: 17px;
    right: 10px;
    float: left;
}

select {
    box-shadow: none;
    outline: none !important;
}

div[data-translate="error"] {
    padding: 8px 4px;
    line-height: 1.3;
}

.mdc-select--outlined .mdc-select__native-control,
.mdc-select--outlined .mdc-select__selected-text {
    padding-right: 30px;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control,
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    font-size: 16px;
    font-weight: 500;
}

#languages select {
    font-size: 12px;
    text-align-last: right;
}

#languages .mdc-select__dropdown-icon {
    top: 13px;
    font-size: 16px;
}

#languages.mdc-select {
    height: 40px;
    top: 9px;
    border-radius: 0;
}

#languages .mdc-select__selected-text {
    min-width: auto;
    padding-right: 46px;
}

#languages.mdc-select--activated .mdc-select__dropdown-icon {
    -webkit-transform: rotate(180deg) translateY(7px);
    transform: rotate(180deg) translateY(7px) translateX(7px);
}

.languages-select {
    border-radius: 0;
}

.languages-select .mdc-list .mdc-list-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.languages-select .mdc-list {
    width: 116px;
    border-radius: 0 0 4px 4px;
}

#languages .mdc-select__selected-text {
    line-height: 2px;
    height: 40px;
    font-size: 14px;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    border-bottom-color: transparent;
}

#languages.mdc-select:not(.mdc-select--disabled) {
    background-color: transparent!important;
}

.mdc-menu-surface--open {
    z-index: 120;
}

header {
    z-index: 10;
}

header .pull-right {
    padding-top: 3px;
}

header .pull-right>div {
    float: left;
    margin-left: 16px;
}

.actions,
.cbi-page-actions {
    background: transparent;
    text-align: right;
}

#check-update,
#logout,
#reboot {
    margin-top: 10px;
}

#check-update svg {
    display: none;
}

#logout button {
    width: 160px;
    height: 35px;
    object-fit: contain;
}

.cellular {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    background-repeat: no-repeat;
    position: relative;
}

.menu-dropdown,
.dropdown-menu {
    top: 63px;
}

input[type=file] {
    background-color: transparent;
}

#cbi-perenio-account-precenseDevices select {
    height: auto!important;
}


/* Road map */

#road-map {
    width: 100%;
    height: 205px;
    max-width: 1016px;
    margin: 0 auto;
    position: relative;
    margin-top: 24px;
}

#road-map .divider {
    height: 1px;
    width: 430px;
    position: absolute;
    top: 50%;
}

#road-map .divider.left {
    left: 53px;
}

#road-map .divider.right {
    right: 53px;
}

#road-map .pin {
    width: 49px;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
}

#road-map .pin.left {
    left: 5px;
    bottom: 40px;
}

#road-map .pin.right {
    right: 5px;
    bottom: 40px;
}

#road-map .pin.center {
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
    top: 41px;
}

#road-map .setup-check-point {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.16px;
    position: absolute;
}

#road-map .setup-check-point.inet {
    top: 181px;
    padding-top: 7px;
}

#road-map .setup-check-point.wifi {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

#road-map .setup-check-point.iot {
    top: 181px;
    padding-top: 7px;
    right: 0px;
}


/* Quick setup */

#quick-setup {
    margin-top: 30px;
    position: relative;
}

#quick-setup h2 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 24px;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 24px;
}

#quick-setup .buttons-wrapper {
    width: 338px;
    margin: 0 auto;
}

#quick-setup .buttons-wrapper>div {
    position: relative;
}

#quick-setup .buttons-wrapper>div .btn-label {
    position: absolute;
    top: -10px;
    right: -10px;
}

#quick-setup .buttons-wrapper button {
    width: 336px;
    height: 48px;
    margin-bottom: 24px;
    background: transparent;
}

.mdc-text-field--with-trailing-icon.mdc-text-field--outlined .mdc-text-field__icon {
    top: 10px;
}

.mdc-select--outlined .mdc-select__selected-text {
    padding-top: 10px;
}

#quick-setup .tooltip-wrapper {
    width: 25px;
    height: 25px;
    position: absolute;
    right: -36px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    top: 12px;
}

#quick-setup .tooltip {
    box-sizing: border-box;
    width: 342px;
    padding: 16px;
    right: 20px;
    z-index: 11;
    display: none;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}

#quick-setup .tooltip-wrapper._calc .tooltip {
    display: block;
    position: fixed;
    visibility: hidden;
    z-index: -999999999;
    top: -100em;
    left: -100em;
}

#quick-setup .tooltip-wrapper.active .tooltip {
    position: absolute;
    display: block;
}

#quick-setup .tooltip-wrapper.active .tooltip::-webkit-scrollbar-track {
    overflow: hidden;    
}

#quick-setup .tooltip-wrapper.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewY(-15deg) scale(2) translate(-25%, 25%);    
}

#quick-setup .paginator {
    margin-top: 52px;
    position: relative;
}

#quick-setup .paginator button {
    width: 152px;
    height: 40px;
}

#quick-setup .paginator button#next,
#quick-setup .paginator button#save {
    float: right;
    font-weight: 600;
}

.inputs-wrapper {
    width: 340px;
    margin: 0 auto;
}

.inputs-wrapper>div {
    margin-bottom: 16px;
}

.inputs-wrapper>div:first-child {
    margin-top: 42px;
}

#quick-setup .inputs-wrapper fieldset {
    padding-top: 0;
}

#quick-setup .inputs-wrapper>fieldset>div:first-child {
    margin-bottom: 16px;
}

.mdc-text-field {
    width: 336px;
    height: 46px;
}

.mdc-floating-label {
    line-height: 15px;
}

.mdc-text-field--outlined .mdc-floating-label {
    top: 14px;
}

.material-icons.mdc-select__dropdown-icon #quick-setup .inputs-wrapper>div .mdc-select, #quick-setup .inputs-wrapper>div .mdc-text-field, #quick-setup .inputs-wrapper fieldset .mdc-text-field {
    width: 340px;
    max-width: 100%;
}

#quick-setup input[type=number]::-webkit-inner-spin-button,
#quick-setup input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#cbi-perenio-device-apply_mwan_mode label {
    display: none;
}

#quick-setup .key-value-wrapper {
    width: 362px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
    min-height: 200px;
}

#quick-setup .wan-dynamic-settings-grid {
    display: grid;
    grid-template-columns: 60% auto;
}

#quick-setup .wan-dynamic-settings-grid>div {
    line-height: 42px;
}

#quick-setup .wan-dynamic-settings-grid>div.key {
    font-size: 12px;
}

#quick-setup .wan-dynamic-settings-grid>div.value {
    font-size: 16px;
}

#quick-setup #confirm-settings button {
    width: 336px;
    height: 56px;
    margin: 0 auto;
    display: block;
}

#quick-setup .wifi-mode {
    display: inline-block;
    padding-bottom: 15px;
    height: auto!important;
}

#quick-setup .form-mixed-wrapper {
    width: 1026px;
    max-width: 100%;
    margin: 0 auto;
}

#quick-setup[data-type-setup="wifi"][data-mode="Dual"] div[data-wifi-iface="default_radio1"] {
    visibility: hidden;
    height: 0;
}

#quick-setup .wifi-settings-grid {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 24px;
    width: 503px;
    max-width: 100%;
    margin: 20px auto;
}

#quick-setup[data-type-setup="wifi"][data-mode="Standart"] .wifi-settings-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 20px 0;
}

#quick-setup .wifi-settings-grid>div>div {
    margin-bottom: 31px;
    height: 46px;
}

#quick-setup .wifi-settings-grid .mdc-text-field,
#quick-setup .wifi-settings-grid .mdc-select {
    width: 100%;
    height: 46px;
}

#quick-setup #copy-wifi-settings {
    width: 152px;
    margin: 0 auto;
    cursor: pointer;
}

#quick-setup #copy-wifi-settings i {
    position: relative;
    top: 4px;
}

#quick-setup button#repeat-scan {
    min-width: 140px;
    height: 40px;
    margin: 0 auto;
    display: flex;
}

#quick-setup #net-points-not-found {
    margin-bottom: 12px;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb,
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
    width: 24px;
    height: 24px;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
    border: 1px solid;
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
    border: 1px solid;
}

.mdc-switch.mdc-switch--checked .mdc-switch__track,
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
    height: 18px;
    border: none;
    border-radius: 12px;
}

.mdc-switch--checked .mdc-switch__track {
    opacity: 1;
}

.mdc-switch__thumb-underlay {
    top: -15px;
}

#quick-setup .mdc-switch {
    position: relative;
    top: 2px;
    margin-right: 16px;
}

.mdc-checkbox__native-control,
.mdc-switch__native-control {
    width: 68px!important;
    height: 48px!important;
}

#cbi-perenio-modem-apply_mode label {
    display: none;
}

.uci-change-list ins,
.uci-change-legend-label ins {
    color: rgb(62, 62, 62);
}

.label.notice {
    position: relative;
    top: 17px;
    left: 8px;
    float: left;
}


/* Perenio login*/

.mdc-button {
    font-weight: 600;
}

div[data-module="iot"] .inputs-wrapper .mdc-text-field, div[data-module="iot"] .inputs-wrapper .mdc-select {
    width: 340px;
    height: 40px;
}

div[data-module="iot"] .inputs-wrapper .mdc-select__selected-text {
    height: 46px;
    text-transform: capitalize;
}

div[data-module="iot"] .mdc-button {
    width: 340px;
    height: 40px;
}

div[data-step="signup-complete"] .mdc-button, div[data-step="complete"] .mdc-button {
    width: auto;
}

div[data-module="iot"] .message {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 20px 0;
}

div[data-module="iot"] .tooltip-wrapper {
    position: absolute;
    right: -43px;
    left: auto;
    top: 14px;
    width: 24px;
    height: 24px;
}

div[data-module="iot"] .message, div[data-module="iot"] .message label {
    font-size: 16px;
}

div[data-module="iot"] #location-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    width: 660px;
    column-gap: 20px;
    grid-row-gap: 20px;
    max-width: calc(100% - 20px);
}

div[data-module="iot"] #location-list .location {
    width: 320px;
    height: 177px;
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    background-position: 0 50%;
}

div[data-module="iot"] #location-list .location-name {
    font-size: 24px;
    position: absolute;
    bottom: 24px;
    left: 27px;
    font-weight: bold;
    padding: 4px 8px;
}

.file-upload {
    cursor: pointer;
    position: relative;
}

.link-change-photo {
    position: relative;
    top: 18px;
    width: max-content;
    font-size: 14px;
}

div[data-module="iot"] #location-adding {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
}

div[data-module="iot"] #location-adding button {
    font-size: 16px;
}

div[data-module="iot"][data-step="location-adding"] .mdc-button {
    width: 160px;
    height: 40px;
}

div[data-module="iot"] .mdc-button#save {
    float: right;
}

.material-icons.md-32 {
    font-size: 32px;
    --mdc-ripple-fg-size: 32px!important;
    --mdc-ripple-left: 12px!important;
    --mdc-ripple-top: 13px!important;
}

div[data-module="iot"] .add-photo {
    margin: 0 auto;
    margin-bottom: 24px;
}

div[data-module="iot"] .add-photo.button {
    width: max-content;
}

div[data-module="iot"] .add-photo.head {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

div[data-module="iot"] .add-photo.field {
    text-align: center;
    margin-top: 55px;
}

div[data-module="iot"] h2 {
    font-size: 24px;
    line-height: 24px;
}

div[data-module="iot"] .mdc-text-field {
    width: 328px;
    max-width: 100%;
}

div[data-module="iot"][data-step="complete"] h2 {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 76px;
}

.mdc-card {
    border-radius: 0px;
}

#icon-complete {
    margin: 36px auto;
    width: max-content;
}

/* button#refresh {
    width: 80px;
} */

#refresh-button-wrapper {
    margin: 0 auto;
    width: max-content;
}

.mdc-card__primary-action::before {
    transition: .4s;
}

.mdc-card__primary-action:hover::before {
    opacity: .4;
}

div[data-module="iot"][data-step="signup-complete"] #refresh-button-wrapper {
    width: 338px;
}

#finish-message {
    margin-top: 48px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}

#resend-email-wrapper {
    cursor: pointer;
    width: fit-content;
    margin: 42px auto 0;
}

#perenio #resend-email-wrapper {
    margin-top: 40px;
}

#resend-email-wrapper svg {
    width: 24px;
    height: 19px;
    position: relative;
    top: 4px;
}

#resend-email {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    padding-left: 8px;
}

#get-app-wrapper {
    width: 610px;
    margin: 0 auto;
    margin-top: 34px;
}

#get-app-wrapper div {
    height: 62px;
    display: inline-block;
}

#get-app-wrapper>div:not(:last-child),
#get-app-wrapper a:not(:last-child) {
    margin-right: 16px;
}

#get-app-wrapper #kit-google {
    width: 220px;
    background: url('/luci-static/resources/images/kit_google.svg') no-repeat;
    background-size: 220px 62px;
    cursor: pointer;
}

#get-app-wrapper #qr-kit-google {
    width: 62px;
    background: url('/luci-static/resources/images/qr_google_play.svg') no-repeat;
    background-size: contain;
}

#get-app-wrapper #qr-kit-appstore {
    width: 62px;
    background: url('/luci-static/resources/images/qr_apple_store.svg') no-repeat;
    background-size: contain;
}

#get-app-wrapper #kit-appstore {
    width: 201px;
    background: url('/luci-static/perenio/images/kit_appstore.svg') no-repeat;
    cursor: pointer;
    background-size: 201px 62px;
}

#complete-logo {
    margin: 0 auto;
    margin-bottom: 40px;
}

#cbi-easycwmp>.cbi-section>h3,
#cbi-easycwmp-acs .cbi-value-field>div br,
#cbi-easycwmp-local .cbi-value-field>div br {
    display: none;
}

#cbi-easycwmp-acs .cbi-value-field>div:first-child>label,
#cbi-easycwmp-local .cbi-value-field>div:first-child>label {
    display: inline-block;
    margin-right: 12px;
}

#image-preview-container {
    width: 336px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#image-preview-container img {
    width: 100%;
}


/* LTE */

#no-sim-card {
    position: relative;
}

.no-sim-card-title {
    font-size: 16px!important;
    line-height: 24px;
}

.no-sim-card-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px!important;
    line-height: 21px;
}

.no-sim-card-warning:before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    margin-right: 10px;
    background: center no-repeat;
    background-size: cover;
}

#lte-scheme-tutor {
    display: grid;
    grid-template-columns: 215px 240px;
    column-gap: 90px;
    grid-row-gap: 20px;
    position: absolute;
    right: 65px;
    bottom: -40px;
    text-align: center;
}

.img-scheme-wrapper {
    width: 227px;
    height: 227px;
    position: relative;
}

#pincode {
    width: 160px;
}

#pindisable label {
    font-size: 14px;
    line-height: 19px;
}

.hint-pin {
    font-size: 10px;
    line-height: 18px;
    margin-top: 4px;
}

.new-pincode {
    width: 160px;
}

.puk-code {
    width: 264px;
}

#qs-lte-connection-settings .grid-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 41px auto;
    width: 945px;
    column-gap: 130px;
}

#qs-lte-connection-settings #show-ballance-dialog {
    width: auto;
    height: 40px;
    font-size: 14px;
    margin-top: 81px;
}

#qs-lte-connection-settings .mdc-text-field {
    width: 425px;
    margin-bottom: 20px;
}

.mdc-dialog .mdc-dialog__surface {
    background: transparent;
}

.modal-dialog {
    height: 240px;
    padding: 24px;
    text-align: center;
    position: relative;
}

.modal-dialog .send-data {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 75px);
}

#ballance-query .modal-dialog #responce-inner {
    width: 367px;
    max-height: 100px;
}

#ballance-query .mdc-dialog__surface {
    width: 512px;
    height: 240px;
}

.waiting {
    font-size: 16px;
    margin-top: 40px;
}

.modal-dialog .mdc-text-field {
    width: 338px;
    margin-bottom: 31px;
}

.modal-dialog button {
    width: 140px;
    height: 40px;
}

.modal-dialog #close {
    position: absolute;
    bottom: 34px;
    left: calc(50% - 70px);
}

.modal-dialog #responce-inner {
    width: 296px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 23px;
    height: 130px;
    overflow: auto;
}

.modal-dialog #get-responce {
    display: none;
}

.mdc-dialog {
    z-index: 19;
}

#loader {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

#quick-setup[data-type-setup="wifi-client"] .wifi-client {
    height: 48px;
    box-sizing: border-box;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 12px;
}

#quick-setup[data-type-setup="wifi-client"] #scaned-net-points._has-scroll .wifi-client {
    width: 368px;
}
    
#quick-setup[data-type-setup="wifi-client"] .mdc-text-field {
    margin-top: 30px;
    width: 100%;
}

#quick-setup[data-type-setup="wifi-client"] .wifi-client.active {
    height: auto;
}

#quick-setup[data-type-setup="wifi-client"] .wifi-client>div:first-child {
    display: grid;
    grid-template-columns: 10% 20% auto 7%;
}

#quick-setup[data-type-setup="wifi-client"] .wifi-client .freq {
    font-size: 10px;
    position: relative;
    left: -8px;
    top: 9px;
}

#quick-setup[data-type-setup="wifi-client"] .wifi-client .ssid {
    font-size: 14px;
    position: relative;
    top: 5px;
}

#quick-setup[data-type-setup="wifi-client"] .buttons-wrapper {
    padding-top: 8px;
    width: 380px;
    min-width: 245px;
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    overflow: auto;
}

.centered {
    text-align: center;
}

#cbi-perenio-1-return-account label,
#cbi-perenio-1-provision label,
#cbi-perenio-1-provision .cbi-button-hidden,
#cbi-perenio-1-return-account .cbi-button-hidden {
    display: none;
}

.wifi-antenna {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}


.mdc-dialog .answer .nott {
    margin-top: 12px;
}

.mdc-dialog .answer {
    display: none;
    margin-top: 16px;
}

.message {
    font-size: 14px
}

.error.message {
    color: red;
}


/* Clear the current web interface */

.table .td,
.table .th {
    border-top: 1px solid rgb(95, 101, 125);
}

.wrapper-progress-bar {
    width: 100%;
    max-width: 200px;
    position: relative;
    border: 1px solid #999999;
}

.progress-bar {
    height: 24px;
}

.progress-bar__data {
    position: absolute;
    left: 0;
    top: 3px;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

#memtotal>div,
#memfree>div,
#memcache>div,
#membuff>div,
#conns>div {
    border-radius: 12px;
    overflow: hidden;
    border-color: rgb(127, 127, 127);
}

small {
    font-size: inherit;
}

.alert-message {
    background: #EDEDED;
}

.cbi-button {
    border-radius: 4px;
}

.td.cbi-section-actions>*>*,
.td.cbi-section-actions>*>form>* {
    flex: none;
    margin: 0;
    margin-right: 12px;
}

#cbi-mwan3-rule .td.cbi-section-actions input.cbi-button {
    min-width: 100px;
}

/* .td.cbi-section-actions>* {
    display: block;
} */

.modal-dialog .responce {
    height: 0px;
}

#modem-conn-type {
    position: absolute;
    font-size: 8px;
    top: -8px;
    left: 2px;
}


/* spinner */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 12px;
}

.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.mdc-button:hover::before,
.mdc-ripple-surface:hover::before {
    opacity: 0;
}


/* end spinner */

.disableWifiTabLink {
    pointer-events: none!important;
    color: #dedede!important;
}

.disableWifiEditLink {
    background-color: #a7a7a7!important;
    border-color: #a7a7a7!important;
}

#mwan_status_text>div {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    float: left;
    line-height: 125%;
}

#mwan_status_text div[data-upstream="true"] {
    background: url('/luci-static/resources/images/done.png') no-repeat;
    background-position: 100% 0%;
    background-size: 40px;
    background-color: #62c462;
}

.battery-wrapper {
    position: relative;
}

.battery {
    width: 32px;
    height: 24px;
    margin-top: 19px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.battery-settings .grid-batt-settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
}

.battery-settings {
    position: absolute;
    width: 244px;
    height: max-content;
    background: #3B4161;
    z-index: 10;
    padding: 20px 16px;
    border-radius: 8px 0 8px 8px;
    right: 15px;
    top: 55px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.battery-settings.active {
    display: block;
}

.battery-settings:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: -13px;
    border: 15px solid;
    border-color: transparent #3B415F transparent transparent;
}

.battery-settings .header {
    font-family: GothamMedium;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 3px;
}

.battery-settings .switch-mode {
    text-align: right;
}

.battery-settings .grid-batt-settings.status {
    grid-template-columns: 60% 40%;
    grid-row-gap: 10px;
}

.battery-settings .status.key {
    font-family: GothamMedium;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
}

.battery-settings .status.value {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: right;
}


:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before,
 :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after {
    background-color: transparent;
}

.paginator button .chevron-icon-left,
.paginator button .chevron-icon-right {
    display: none;
}

.mdc-ripple-upgraded--background-focused::before {
    opacity: 0!important;
}




#sim-pin-responce,
.notification {
    font-size: 12px;
    margin-left: 16px;
    color: #000000;
}

.notification.error {
    color: #DA291C!important;
}

#pre-loader {
    position: absolute;
    left: calc(50% - 20px);
    z-index: 10;
}

.hide {
    display: none!important;
}

.blur {
    filter: blur(2px);
    visibility: hidden;
}

.mdc-snackbar {
    z-index: 20;
}

.wifi-message-wrapper {
    max-width: 540px;
    margin: 0 auto;
    padding: 18px;
    margin-bottom: 32px;
}

.wifi-message-wrapper div:first-child svg {
    padding: 10px 8px;
}

.wifi-message-wrapper div:first-child {
    float: left;
    width: 12%;
}

.wifi-message {
    line-height: 150%;
}

.mdc-drawer .mdc-list-item__text {
    white-space: normal;
    line-height: 1.4;
}

.sim-pin .switch-pin {
    display: inline-flex;
}

.sim-pin .switch-pin label {
    font-size: inherit;
    margin-right: 14px;
}

#create-new-pincode h3,
#enter-pincode h3 {
    font-size: 16px;
    text-align: center;
}

#no-sim .warning.message {
    margin-right: 10px;
}

.lte-pin-tries-info {
    width: 460px;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 150%;
}

.lte-puk-code-require {
    display: inline-flex;
    width: 497px;
    line-height: 150%;
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
}

.lte-puk-code-require i {
    align-self: center;
    margin-right: 20px;
    font-size: 40px;
    color: #DA291C;
}

.action-buttons-wrapper {
    width: max-content;
    margin: 0 auto;
}

.action-buttons-wrapper button {
    background-color: #DA291C!important;
    color: #ffffff!important;
}

.ok-button {
    width: 80px;
}

.ok-button>span {
    position: absolute;
    left: 14px;
}

button.reset {
    background-color: transparent!important;
    border-color: #DA291C!important;
    color: #DA291C!important;
}

.lte-templates-wrapper {
    min-height: 340px;
}

#change-pin {
    cursor: pointer;
}

#change-pin-operation .modal-dialog {
    height: 380px;
    min-width: 470px;
}

#change-pin-operation .modal-dialog .mdc-text-field {
    margin-top: 0;
    margin-bottom: 0;
}

#change-pin-operation .mdc-text-field {
    width: 200px;
}

#change-pin-operation .buttons-wrapper {
    margin-top: 32px;
}

div[data-type-setup="wan"][data-step="index"] #next {
    display: none;
}

div[data-type-setup="lte"] #next {
    display: none;
}


/* syslog */

#content_syslog textarea {
    margin-top: 20px;
    font-size: 15px!important;
    background: #000000;
    color: #ffffff;
    line-height: 130%;
    border-radius: 0;
    border-color: #000000;
    height: 450px;
}

.menu-toggler {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    display: none;
}

.menu-toggler:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    bottom: -9px;
    left: -10px;
    right: -10px;
}

.menu-toggler__inner {
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 75ms;
    top: 8px;
}

.menu-toggler__inner:before,
.menu-toggler__inner:after {
    content: '';
    display: block;
}

.menu-toggler__inner,
.menu-toggler__inner:before,
.menu-toggler__inner:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
    background-color: #DA291C;
}

.menu-toggler__inner:before {
    top: -8.3px;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

.menu-toggler__inner:after {
    bottom: -8.3px;
}

.mobile-menu-opened .menu-toggler .menu-toggler__inner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobile-menu-opened .menu-toggler .menu-toggler__inner:before {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
    opacity: 0;
}

.mobile-menu-opened .menu-toggler .menu-toggler__inner:after {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-90deg);
    transform: translate3d(0, -8px, 0) rotate(-90deg);
}

.grid.wired-wireless-statuses {
    grid-template-columns: 35% auto 25%;
}

.cell-container {
    background: #ffffff;
}

#wireless .icon-holder {
    width: 53px;
    height: 52px;
}

.cell-container .icon-holder {
    border-radius: 0;
}

.grid.iot-connections-table {
    grid-template-columns: auto 38px !important;
    grid-template-rows: auto !important;
    justify-items: stretch !important;
    margin-top: 16px !important;
    grid-gap: 12px;
    align-items: center;
    padding: 0 8px;
}

.grid.iot-connections-table .item-name {
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.grid.iot-connections-table .item-value {
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
}

.grid.iot-connections-table .item-value .mdc-ripple-surface {
    width: 38px;
    height: 15px;
    background: #BCBCBC;
    color: #ffffff;
    font-weight: bold;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
}

.grid.iot-connections-table .item-value .mdc-ripple-surface.active {
    background: #F44336;
}

.grid.iot-connections-table .item-value .mdc-ripple-surface.enabled {
    background: #6295AC;
}

.wifi-mode-toggler {
    align-items: center;
}

.wifi-mode-toggler .mdc-switch .mdc-switch__track {
    background-color: #BCBCBC;
    opacity: 1;
}

.wifi-mode-toggler .mdc-switch .mdc-switch__thumb {
    border-color: #DA291C;
}

.wifi-mode-toggler .mdc-switch--checked .mdc-switch__track {
    background-color: #DA291C;
}

.grid.wifi-mode-tabs {
    margin: 8px auto 11px !important;
}

.grid.wifi-mode-tabs>div {
    padding: 4px 6px;
    font-size: 11px;
}

.wifi-mode-toggler .wifi-mode {
    background-color: #F7F7F7;
    color: #999999;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 5px;
    text-transform: uppercase;
    font-size: 11px;
}

.wifi-mode-data .dvalue {
    color: #BCBCBC;
}

.conn-filter-tab {
    align-self: end;
}

.grid.online-connections-data .dvalue.wifi-speed {
    justify-self: end;
}

.grid.wifi-mode-toggler,
.grid.wifi-mode-data, 
.grid.wifi-mode-toggler, .grid.wifi-mode-data {
    padding-right: 10px;
}

#languages-mobile,
#reboot-mobile,
#logout-mobile,
#firmware-version-mobile {
    display: none;
}

.slider-container {
    position: relative;
}

.slider-arrows {
    display: none;
}

.slider-container .slider-arrows {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.slider-container .slider-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.slider-container .slider-arrow--left {
    left: 0;
}

.slider-container .slider-arrow--right {
    right: 0;
}

.slider-container .slider-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L2 7.375L8 13' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.slider-container .slider-arrow--left:after {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-container .slider-arrow--right:after {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
    margin-top: 2px;
}

.online-connections-data-wrap.slider-container *,
.online-connections-data-wrap.slider-container *:before,
.online-connections-data-wrap.slider-container *:after {
    box-sizing: border-box
}

label[for="cbid.system._pass._change-pass-btn-luci"] {
    display: none;
}


/* tamper */

.tamper-wrapper {
    position: relative;
}

.tamper {
    width: 32px;
    height: 24px;
    margin-top: 16px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tamper[data-tamper-state="opened"] {
    background-image: url(/luci-static/a1/images/tamper/opened.svg);
}

.tamper[data-tamper-state="closed"] {
    background-image: url(/luci-static/a1/images/tamper/closed.svg);
}

.tamper-log-data {
    position: absolute;
    width: max-content;
    height: max-content;
    background: #3B4161;
    z-index: 10;
    padding: 16px;
    border-radius: 8px 0 8px 8px;
    right: 15px;
    top: 45px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: none;
    overflow: hidden;
}

.tamper-log-data.active {
    display: block;
}

.tamper-log-data .tamper-container {
    font-size: 14px;
    max-height: 320px;
    overflow-y: auto;
    padding: 0 12px;
    box-sizing: border-box;
}

.tamper-log-data .tamper-container>div {
    padding: 6px 0;
}

.tamper-log-data .tamper-see-more {
    font-weight: bold;
    font-size: 12px;
    text-decoration-line: underline;
    float: right;
    cursor: pointer;
}

.tamper-head {
    text-align: center;
    margin-bottom: 12px;
}

.tamper-container-row>span:nth-child(2) {
    margin-left: 43px;
}

.tamper-container-row {
    display: grid;
    grid-template-columns: auto 160px;
}

.tamper-head-icon {
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.card-tray-scheme {
    width: 971px;
    height: 267px;
    margin: 0 auto;
}

.mobile-icon {
    width: 24px;
    height: 24px;
    background-size: 21px 24px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 14px;
}

#modal-view-mode .modal-dialog .mdc-text-field,
#ballance-query .modal-dialog .mdc-text-field {
    margin-top: 56px;
}

#sim-pin-operation .modal-dialog {
    height: auto;
}

#sim-pin-operation .modal-dialog .mdc-text-field {
    width: 180px;
    margin-bottom: 8px;
}

#skip-qs-wrapper {
    text-align: center;
    margin-top: 46px;
}

#skip-qs-wrapper a {
    font-size: 18px;
    text-decoration: underline!important;
    cursor: pointer;
}

.cbi-value-description {
    font-size: 12px;
}


/* div[data-module="modem"] .per-tabs {
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7px;
}

div[data-module="modem"] .per-tabs>.per-tab {
    padding: 8px 18px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
    user-select: none;
    font-size: 14px;
    font-weight: 350;
}

div[data-module="modem"] .per-tabs .per-tab.active {
    color: #E9E0CE;
} */

.per-container {
    display: none;
    position: relative;
}

.per-container.active {
    display: block;
    padding: 30px 20px;
}

.per-tabs .mdc-tab {
    height: 32px;
}

.per-tabs .mdc-tab-scroller__scroll-content .mdc-tab:last-child {
    margin-right: 0;
}

.per-tabs .mdc-tab__text-label {
    font-size: 14px;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: none;
}

.per-tabs .mdc-tab-indicator {
    transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid transparent;
    border-bottom: 0;
    box-sizing: border-box;
}

.per-tabs .mdc-tab-indicator__content {
    position: absolute;
    left: 1px;
    right: 1px;
    width: auto !important;
    border-color: #fff;
}

.per-tabs .mdc-tab__ripple.mdc-ripple-upgraded {
    z-index: 1;
}

.per-tabs .mdc-tab-scroller__scroll-area--scroll::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#skip-iot {
    margin: 0 auto;
    display: block;
}

div[data-module="iot"] div[data-tmpl="device-info"] .mdc-button {
    width: max-content;
    margin: 0 auto;
}

.device-info-text {
    line-height: 1.5;
}

.device-info-head {
    font-weight: bold;
    font-size: 18px;
}

div[data-tmpl="device-info"] {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

div[data-tmpl="device-info"] div {
    margin-bottom: 34px;
}

.mdc-text-field-helper-text {
    opacity: 1;
    color: grey!important;
}

#cbi-perenio-account-register label {
    display: none;
}

.cbi-value-description {
    font-size: 12px;
}
.device-iot-account {
    height: 40px;
}
.device-iot-account>div {
    position: absolute;
    right: 16px;
}
.device-iot-account span {
    margin-right: 16px;
}

div[data-module="iot"] #wifi-operation .modal-dialog,
#disconnect-device-operation .modal-dialog {
    height: auto;
}

div[data-module="iot"] #wifi-operation .mdc-button,
div[data-module="iot"] #disconnect-device-operation .mdc-button,
#remove-iot-dialog .buttons-wrapper .mdc-button{
    width: 140px;
}

div[data-module="iot"] #wifi-operation .mdc-button {
    margin-bottom:0;
}

#loader-overlay {
    width: 102%;
    height: 100%;
    position: fixed;
    /* background: rgba(0, 0, 0, 0.35); */
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    margin-left: -15px;
}

#loader-overlay  .loader-container-wrap {
    margin-top: 20%;
}

#skip-iot {
    width: 340px;
}

#disconnect-wifi-operation .modal-dialog {
    height: auto;
}

#location-save {
    height: 65px;
    position: relative;
}

#location-save>#next,
#location-save>#reset {
    width: 140px;
    margin-top: 28px;
    position: absolute;
}

#location-save>#reset {
    right: 150px;
}

#location-save>#next {
    right: 0px
}

button#update-yes {
    font-weight: bold;
    font-size: 16px;
}

button#update-cancel {
    font-size: 14px;
    font-weight: bold;
}

button#go-sysops {
    width: 280px;
}

#check-update-dialog .mdc-dialog__title {
    font-weight: bold;
}

#check-update-dialog .mdc-dialog__surface>.modal-dialog {
    height: auto;
}

#check-update-dialog .mdc-dialog__content>svg {
    display: block;
    float: left;
    margin-top: 30px;
}

#check-update-dialog .mdc-dialog__content>div {
    margin-left: 50px;
    text-align: left;
}

.battery-settings .warning-state>.header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 14px!important;
}

.warning-state>.overheat__text {
    text-align: center;
    font-size: 12px;
}

.warning-state>.header>svg {
    position: relative;
    top:3px;
}

.mix-statuses .wifi-mode {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 10px;
    color: #999999;
    transform: translateX(calc(-100% + -5px));
}

.mix-statuses .wifi-mode[data-wifi-disabled="true"] {
    display: none;
}

.mix-statuses .wifi-name[data-wifi-disabled="true"] {
    color: #999999;
}

.online-connections-data-wrap .wifi-freq {
    font-size: 8px;
    white-space: nowrap;
    color: #999999;
    position: relative;
    top: 9px;
    left: 16px;
}
.menu_scrimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    /* background: rgba(128, 128, 128, 0.125); */
    z-index: 100;
}

#dashboard .wifi-nets {
    margin-bottom: 12px;   
}

.battery-settings .warning-state>.warning-state__text {
    font-size: 12px;
}

.device-info {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px auto 0;
    padding-right: 10px;
    line-height: 2;
}

#ap-is-active-dialog .buttons-wrapper button {
    margin: 0 5px;
}
.modem-header {
    margin-top: 12px;
}

.modem-3g-band label responce {
    color: #DA291C;
    display: none;
}

.modem-3g-band.disabled .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle,
.modem-3g-band.disabled .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #999999!important;
}

.modem-3g-band.disabled label responce,
.modem-3g-band.disabled label,
.modem-3g-band.disabled {
    pointer-events: none;
    color: #999999!important;
}

.iot-container {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.iot-container>button {
    text-transform: inherit;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

.remove-iot {
    text-align: center;
    margin-top: 26px;
    text-decoration: underline;
}

.remove-iot>span {
    cursor: pointer;
}
.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 0!important;
}